*,
*::before,
*::after {
  /* Global reset on all default browser margins and paddings */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px dashed black; */
}

html {
  /* 1rem = 10px for all elements*/
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
}

/**---------------------------- Header Section ----------------------------*/
.header {
  display: flex;
  padding: 0.5rem 2rem 2rem;
  justify-content: space-between;
  box-shadow: 0 0.1rem 0.8rem 0 #001f2785;
  background-color: white;
  width: 100%;
  position: fixed;
}

/*------------------------------ Logo Design ------------------------------*/
.logo-container {
  font-family: "DM Serif Display", serif;
  display: flex;
  height: 4rem;
  width: auto;
  gap: 0.5rem;
  align-items: baseline;
}
.logo-icon {
  width: auto;
  height: 80%;
  display: block;
  object-fit: cover;
  transform: translateY(0.2rem);
}
.logo-text-container {
  height: 100%;
}
.logo-text {
  display: inline-block;
  height: 100%;
  font-size: 4rem;
  font-weight: 400;
  color: #001f27;
}
.logo-text span {
  height: 120%;
  display: inline-block;
  border-bottom: 0.3rem #720000 solid;
  color: #720000;
}

/*----------------------------- Log out button -----------------------------*/
.log-out {
  height: 60%;
  display: block;
  border: 0.2rem solid #00758e;
  border-radius: 0.8rem;
  color: #00758e;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: transparent;
  padding: 0.2rem 1rem;
  align-self: flex-end;
}
/** --------------------------End of Header Section---------------------------- **/
